<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/DB사용자ID"/>
				<property name="username" value="user 생성해주고 작성필요"/>
				<property name="password" value="user 생성해주고 작성필요"/>
			</dataSource>		
		</environment>
	</environments>
	<mappers>
		<mapper resource="Mapper 경로 설정 필요"/>
	</mappers>
</configuration>